/* 
    re-csset By Daniel Hernandez @dherrrnandez 
    github repo: https://github.com/dherrrnandez/re-csset/
*/

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    line-height: 1.25;
    scroll-behavior: smooth;
}

input,
button,
optgroup,
textarea,
select,
fieldset {
    margin: 0;
    border-width: 0;
    overflow: visible;
    font-family: inherit;
    font-size: inherit;
    text-transform: none;
}

input,
textarea {
    -webkit-user-select: auto;
    user-select: auto;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    border-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    background-color: transparent;
}

a,
button {
    cursor: pointer;
}

b,
strong {
    font-weight: bolder;
}

cite {
    font-style: normal;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1rem;
    font-weight: inherit;
    overflow-wrap: break-word;
}

ul,
ol,
dd,
menu {
    list-style: none;
}

::placeholder {
    color: unset;
}

[hidden] {
    display: none;
}
